body {
  font-family: "Roboto";
  font-size: 22px;
}

.container {
  padding-right: 16px !important;
  padding-left: 16px !important;
  margin-right: auto;
  margin-left: auto;
  max-width: 1012px;
  z-index: 3;
}

.form-group {
  padding: 15px 36px;
  input[type="text"],
  select {
    width: 50%;
    padding: 12px 20px;
    margin: 21px auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 50px;
  }
  .btn {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    position: relative;
    padding: 15px 36px;
    margin-left: 18px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0;
    will-change: box-shadow, transform;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
      background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }
}


.nav-header {
  position: relative;
  font-size: 15px;
  line-height: 20px;
  color: #586069;
}
.card {
  padding: 10px 0;
  width: 100%;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.87);
  background: #fff;
  min-height: 410px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  .tab-content {
    border: 1px solid #d1d5da;
    min-height: 340px;
    // padding: 20px 15px;
    margin: 22px;
    .content-header {
      margin-bottom: -1px;
      padding: 8px 16px;
      background-color: #f1f8ff;
      border-color: #c8e1ff;
      margin: -1px -1px 0;
      border: 1px solid #d1d5da;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }
}

.card-header {
  text-align: center;
  padding: 25px 0 35px;
}

card-title {
  margin: 0;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 1.825em;
  line-height: 1.4em;
  margin: 20px 0 10px;
}

.card .card-header h5 {
  margin: 5px 0 0;
}

h5,
.h5 {
  line-height: 1.4em;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-pills {
  background-color: rgba(200, 200, 200, 0.2);
  display: flex;
  li {
    text-align: center;
    padding: 12px;
    a {
      border: 0 !important;
      border-radius: 0;
      line-height: 18px;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500;
      min-width: 100px;
      text-align: center;
      color: #555555;
      position: relative;
      display: block;
      padding: 10px 15px;
    }
    &.active {
      text-align: center;
      font-size: 12px;
      text-transform: uppercase;
      -webkit-font-smoothing: subpixel-antialiased;
      background-color: #01a8e2;
      border-radius: 4px;
      cursor: pointer;
      box-shadow: 0 16px 26px -10px rgba(9, 138, 167, 0.56),
        0 4px 25px 0px rgba(0, 0, 0, 0.043),
        0 8px 10px -5px rgba(3, 70, 91, 0.2);
      a {
        color: #ffffff;
        font-weight: 500;
      }
    }
  }
}

#results {
  padding-top: 30px;
  width: 70%;
  margin: auto;
}
th {
  text-align: left;
}
th,
td {
  border-bottom: 1px solid #ddd;
}
a,
a:active {
  text-decoration: none;
  color: black;
}


// @media all {
//   .octicon {
//     display: inline-block;
//     vertical-align: text-top;
//     fill: currentColor;
//   }
//   td {
//     padding: 0;
//   }
//   .octicon {
//     vertical-align: text-bottom;
//   }
// }

.hide {
  display: none;
}
#loader {
  margin: auto;
  margin-top: 60px;
  z-index: 1;
  width: 150px;
  height: 150px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


table{
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 14px;
  &.files {
    width: 100%;
    background: #fff;
    border-radius: 3px;
    td {
      padding: 8px 4px;
      line-height: 20px;
      border-top: 1px solid #eaecef;
      .icon {
        width: 17px;
        padding-right: 2px;
        padding-left: 16px;
        color: rgba(3, 47, 98, 0.55);
        .octicon-file-directory {
          color: rgba(3, 47, 98, 0.5);
        }
      }
      .content {
        max-width: 180px;
        max-width: 100%;
        a {
          color: #0366d6;
          text-decoration: none;
        }
      }
      .message {
        // max-width: 100%;
        max-width: 442px;
        padding-left: 10px;
        overflow: hidden;
        color: #6a737d;
        a {
          color: #6a737d;
          &:hover {
            color: #0366d6;
          }
        }
      }
      .age {
        width: 125px;
        padding-right: 16px;
        color: #6a737d;
        text-align: right;
        white-space: nowrap;
      }
    }
  }
}
